img {
	width: 100%;
	height: 350px;
}

ul
{
	list-style: none;
}

	
.rate
{
	margin-right: 14px;
}


.services ul#menu li {
    background: #3A4359;
	color: white;
	padding: 5px;
	margin-left: 8px;
	border-radius: 4px;
	width: 50%;

}


.horizontal li ul
{
	margin-bottom: 10px; 
}

.services ul
{
	margin-left: -43px;
}


.reviewDetails {
    margin-top: -15px;
	margin-bottom: 7px;
}

.reviewRating {
	text-align: right;
}

.reviewName {
    text-align: right;
}

.border1 {
	border-bottom: 2px solid #F5F5F5;
	margin-bottom: 20px;
}

.padding-top-16 {
    padding-top: 16px;
}

